html {
    background-color: #E5E5E5;
}

.body {
    background-color: #F9F9F9;
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding-left: 45px;
}

h1 {
    padding-top: 64px;
}

.head {
    color: #171717;
    font-size: 14px;
    padding-top: 79px;
}

h2 {
    padding-top: 24px;
    font-size: 20px;
}

span {
    color: #D83933;
}

label {
    display: block;
    font-size: 16px;
}

.vector {
    padding: 8px, 12px, 8px, 10px;
    border-radius: 4px;
    height: 40px;
    width: 392px;
    font-size: 16px;
    background-image: url("./img/vector.svg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: right;
}

input {
    padding: 8px, 12px, 8px, 10px;
    border-radius: 4px;
    height: 40px;
    width: 392px;
    font-size: 16px;
}

form {
    display: flex;
    justify-content: space-around;
}

.none {
    display: block;
    visibility: hidden;
}

.check {
    padding-top: 27px;
    padding-left: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.check>input {
    width: 24px;
    height: 24px;
}

.check>label {
    display: block;
    align-items: center;
}

hr {
    width: 816px;
}

h3 {
    padding-top: 24px;
    font-size: 20px;
}

h4 {
    padding-top: 24px;
    font-size: 20px;
}

.vector-one {
    padding: 8px, 12px, 8px, 10px;
    border-radius: 4px;
    height: 40px;
    width: 392px;
    font-size: 16px;
    background-image: url("./img/vector-one.svg");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: right;
}

.button {
    color: #FFFFFF;
    font-size: 16px;
    background-color: #0050D8;
    width: 69px;
    height: 40px;
}

#button {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
.one{
    display: flex;
    justify-content: space-around;
}